<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="ModelContainer"
         connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string='data source=hostingmssql01;initial catalog=michelecaggiano_net_michelecaggiano;User Id=michelecaggiano_net_mcaggiano; Password=Mikele11;MultipleActiveResultSets=True'"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IdentityConnection"
         connectionString="data source=hostingmssql01;initial catalog=michelecaggiano_net_michelecaggiano;User Id=michelecaggiano_net_mcaggiano; Password=Mikele11" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <!--Host configurations-->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off"
                  xdt:Transform="Insert"/>
    <trust level="Full"
           xdt:Transform="Insert" />
    <!--Host configurations end-->
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="data source=hostingmssql01;MultipleActiveResultSets=True;"
                   xdt:Transform="Insert"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
