<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MicheleCaggiano.MongoModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MicheleCaggiano.MongoModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MicheleCaggiano.MongoModel.Properties.Settings.MicheleCaggianoConnectionString"
            connectionString="mongodb://mcaggiano:#Mikele#11@ds053459.mongolab.com:53459" />
    </connectionStrings>
    <applicationSettings>
        <MicheleCaggiano.MongoModel.Properties.Settings>
            <setting name="MicheleCaggianoDatabaseName" serializeAs="String">
                <value>michelecaggiano</value>
            </setting>
        </MicheleCaggiano.MongoModel.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MicheleCaggiano.MongoModel.Properties.Settings>
            <setting name="MicheleCaggianoLocalhostConnectionString" serializeAs="String">
                <value>mongodb://localhost</value>
            </setting>
        </MicheleCaggiano.MongoModel.Properties.Settings>
    </userSettings>
</configuration>