@{
    ViewBag.Title = "Progetti";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">

  <div class="col-md-3 col-md-push-9" id="rightbar">
    <div id="sidebar">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Ricerca articoli..." />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Cerca !</button>
        </span>
      </div>
      <h4>Filtri ricerca:</h4>
    </div>
  </div>

  <div class="col-md-9 col-md-pull-3">
    <article>
      <h1>Titolo articolo</h1>
      <div class="col-sm-2">
        <p> Image in to circle</</p>
        <div class="ratio img-responsive img-circle" style="background-image: url(https://camo.githubusercontent.com/47dcfb965976b72705949abac49512c08f98b60e/687474703a2f2f696d672e736b697463682e636f6d2f32303132303730322d6b36636370376b6b6a6a686163663371693279357972683768712e676966);"></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere in tortor a molestie. In hac habitasse platea dictumst. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi consectetur malesuada tortor. Sed ac ultricies ligula. Proin ut erat feugiat, mattis enim eget, commodo nibh.
        Pellentesque auctor a sem at cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac urna in nisi consequat tincidunt ac sit amet dui. Pellentesque pharetra iaculis gravida. Fusce ullamcorper ornare tempor. Sed consequat vitae orci a tempus. Donec nec elit erat. Duis a purus cursus, malesuada tellus vel, malesuada orci. Praesent non congue nisi, nec cursus tellus. Nullam sit amet massa molestie, elementum magna sit amet, aliquam nisi. Morbi accumsan est quis sapien porta, id sodales diam interdum. Proin rutrum venenatis mi eu mollis. Donec blandit felis sit amet neque cursus mollis. Praesent sit amet leo sed eros tempor mollis ac quis erat. Ut euismod libero ante, ac dignissim orci tempus non.
      </p>
    </article>
    <article>
      <h1>Titolo articolo</h1>
      <div class="col-sm-2">
        <p> Image in to circle</</p>
        <div class="ratio img-responsive img-circle" style="background-image: url(https://camo.githubusercontent.com/47dcfb965976b72705949abac49512c08f98b60e/687474703a2f2f696d672e736b697463682e636f6d2f32303132303730322d6b36636370376b6b6a6a686163663371693279357972683768712e676966);"></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere in tortor a molestie. In hac habitasse platea dictumst. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi consectetur malesuada tortor. Sed ac ultricies ligula. Proin ut erat feugiat, mattis enim eget, commodo nibh.
        Pellentesque auctor a sem at cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac urna in nisi consequat tincidunt ac sit amet dui. Pellentesque pharetra iaculis gravida. Fusce ullamcorper ornare tempor. Sed consequat vitae orci a tempus. Donec nec elit erat. Duis a purus cursus, malesuada tellus vel, malesuada orci. Praesent non congue nisi, nec cursus tellus. Nullam sit amet massa molestie, elementum magna sit amet, aliquam nisi. Morbi accumsan est quis sapien porta, id sodales diam interdum. Proin rutrum venenatis mi eu mollis. Donec blandit felis sit amet neque cursus mollis. Praesent sit amet leo sed eros tempor mollis ac quis erat. Ut euismod libero ante, ac dignissim orci tempus non.
      </p>
    </article>
    <article>
      <h1>Titolo articolo</h1>
      <div class="col-sm-2">
        <p> Image in to circle</</p>
        <div class="ratio img-responsive img-circle" style="background-image: url(https://camo.githubusercontent.com/47dcfb965976b72705949abac49512c08f98b60e/687474703a2f2f696d672e736b697463682e636f6d2f32303132303730322d6b36636370376b6b6a6a686163663371693279357972683768712e676966);"></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere in tortor a molestie. In hac habitasse platea dictumst. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi consectetur malesuada tortor. Sed ac ultricies ligula. Proin ut erat feugiat, mattis enim eget, commodo nibh.
        Pellentesque auctor a sem at cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac urna in nisi consequat tincidunt ac sit amet dui. Pellentesque pharetra iaculis gravida. Fusce ullamcorper ornare tempor. Sed consequat vitae orci a tempus. Donec nec elit erat. Duis a purus cursus, malesuada tellus vel, malesuada orci. Praesent non congue nisi, nec cursus tellus. Nullam sit amet massa molestie, elementum magna sit amet, aliquam nisi. Morbi accumsan est quis sapien porta, id sodales diam interdum. Proin rutrum venenatis mi eu mollis. Donec blandit felis sit amet neque cursus mollis. Praesent sit amet leo sed eros tempor mollis ac quis erat. Ut euismod libero ante, ac dignissim orci tempus non.
      </p>
    </article>
    <article>
      <h1>Titolo articolo</h1>
      <div class="col-sm-2">
        <p> Image in to circle</</p>
        <div class="ratio img-responsive img-circle" style="background-image: url(https://camo.githubusercontent.com/47dcfb965976b72705949abac49512c08f98b60e/687474703a2f2f696d672e736b697463682e636f6d2f32303132303730322d6b36636370376b6b6a6a686163663371693279357972683768712e676966);"></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere in tortor a molestie. In hac habitasse platea dictumst. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi consectetur malesuada tortor. Sed ac ultricies ligula. Proin ut erat feugiat, mattis enim eget, commodo nibh.
        Pellentesque auctor a sem at cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac urna in nisi consequat tincidunt ac sit amet dui. Pellentesque pharetra iaculis gravida. Fusce ullamcorper ornare tempor. Sed consequat vitae orci a tempus. Donec nec elit erat. Duis a purus cursus, malesuada tellus vel, malesuada orci. Praesent non congue nisi, nec cursus tellus. Nullam sit amet massa molestie, elementum magna sit amet, aliquam nisi. Morbi accumsan est quis sapien porta, id sodales diam interdum. Proin rutrum venenatis mi eu mollis. Donec blandit felis sit amet neque cursus mollis. Praesent sit amet leo sed eros tempor mollis ac quis erat. Ut euismod libero ante, ac dignissim orci tempus non.
      </p>
    </article>
    <article>
      <h1>Titolo articolo</h1>
      <div class="col-sm-2">
        <p> Image in to circle</</p>
        <div class="ratio img-responsive img-circle" style="background-image: url(https://camo.githubusercontent.com/47dcfb965976b72705949abac49512c08f98b60e/687474703a2f2f696d672e736b697463682e636f6d2f32303132303730322d6b36636370376b6b6a6a686163663371693279357972683768712e676966);"></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere in tortor a molestie. In hac habitasse platea dictumst. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi consectetur malesuada tortor. Sed ac ultricies ligula. Proin ut erat feugiat, mattis enim eget, commodo nibh.
        Pellentesque auctor a sem at cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac urna in nisi consequat tincidunt ac sit amet dui. Pellentesque pharetra iaculis gravida. Fusce ullamcorper ornare tempor. Sed consequat vitae orci a tempus. Donec nec elit erat. Duis a purus cursus, malesuada tellus vel, malesuada orci. Praesent non congue nisi, nec cursus tellus. Nullam sit amet massa molestie, elementum magna sit amet, aliquam nisi. Morbi accumsan est quis sapien porta, id sodales diam interdum. Proin rutrum venenatis mi eu mollis. Donec blandit felis sit amet neque cursus mollis. Praesent sit amet leo sed eros tempor mollis ac quis erat. Ut euismod libero ante, ac dignissim orci tempus non.
      </p>
    </article>
    <article>
      <h1>Titolo articolo</h1>
      <div class="col-sm-2">
        <p> Image in to circle</</p>
        <div class="ratio img-responsive img-circle" style="background-image: url(https://camo.githubusercontent.com/47dcfb965976b72705949abac49512c08f98b60e/687474703a2f2f696d672e736b697463682e636f6d2f32303132303730322d6b36636370376b6b6a6a686163663371693279357972683768712e676966);"></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere in tortor a molestie. In hac habitasse platea dictumst. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi consectetur malesuada tortor. Sed ac ultricies ligula. Proin ut erat feugiat, mattis enim eget, commodo nibh.
        Pellentesque auctor a sem at cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac urna in nisi consequat tincidunt ac sit amet dui. Pellentesque pharetra iaculis gravida. Fusce ullamcorper ornare tempor. Sed consequat vitae orci a tempus. Donec nec elit erat. Duis a purus cursus, malesuada tellus vel, malesuada orci. Praesent non congue nisi, nec cursus tellus. Nullam sit amet massa molestie, elementum magna sit amet, aliquam nisi. Morbi accumsan est quis sapien porta, id sodales diam interdum. Proin rutrum venenatis mi eu mollis. Donec blandit felis sit amet neque cursus mollis. Praesent sit amet leo sed eros tempor mollis ac quis erat. Ut euismod libero ante, ac dignissim orci tempus non.
      </p>
    </article>
    <article>
      <h1>Titolo articolo</h1>
      <div class="col-sm-2">
        <p> Image in to circle</</p>
        <div class="ratio img-responsive img-circle" style="background-image: url(https://camo.githubusercontent.com/47dcfb965976b72705949abac49512c08f98b60e/687474703a2f2f696d672e736b697463682e636f6d2f32303132303730322d6b36636370376b6b6a6a686163663371693279357972683768712e676966);"></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere in tortor a molestie. In hac habitasse platea dictumst. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi consectetur malesuada tortor. Sed ac ultricies ligula. Proin ut erat feugiat, mattis enim eget, commodo nibh.
        Pellentesque auctor a sem at cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac urna in nisi consequat tincidunt ac sit amet dui. Pellentesque pharetra iaculis gravida. Fusce ullamcorper ornare tempor. Sed consequat vitae orci a tempus. Donec nec elit erat. Duis a purus cursus, malesuada tellus vel, malesuada orci. Praesent non congue nisi, nec cursus tellus. Nullam sit amet massa molestie, elementum magna sit amet, aliquam nisi. Morbi accumsan est quis sapien porta, id sodales diam interdum. Proin rutrum venenatis mi eu mollis. Donec blandit felis sit amet neque cursus mollis. Praesent sit amet leo sed eros tempor mollis ac quis erat. Ut euismod libero ante, ac dignissim orci tempus non.
      </p>
    </article>
  </div>

</div>

<script type="text/javascript">
  /* activate sidebar */
  $('#sidebar').affix();

  /* activate scrollspy menu */
  var $body = $(document.body);
  var navHeight = $('.navbar').outerHeight(true) + 10;

  $body.scrollspy({
    target: '#rightbar',
    offset: navHeight
  });

  /* smooth scrolling sections */
  $('a[href*=#]:not([href=#])').click(function () {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - 50
        }, 1000);
        return false;
      }
    }
  });
</script>